body {
    background:black;
    width:100%;
    height:100%;
}

.modal-box {
    border:1px solid white;
    color:white;
    text-align:center;
    margin:1em 25em 0em 25em;
    background: rgb(154, 16, 16);
    text-shadow:1px 1px black, 2px 2px black, 3px 3px black;
}