body {
	background: black;
	
}

h1,h2 {
	text-align:center;
}

h1 { 
	color:orange;
	font-size:3em;
}

h2 {
	color:white;
}

h3 {
	font-size: 4em;
	color:white;
	text-align:center;
	margin:-0.2em 0em 0em 0em;
}

img {
	margin:auto;
	display:block;
	border:5px solid orange;
}
